.User-panel {
  max-height: 18vh;
  width: 100%;
  /* position: fixed; */
  display: flex;
  background-image: url(../utility/profileData_bg.png);
  background-position: 50%;
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;
  align-content: center;
  justify-content: space-between;
  border-bottom:1px solid rgba(150, 150, 150, 1) ;
  z-index: 1;
}
.User-panel::before,
.User-panel::after {
  content: "";
  position: absolute;
  top: 0;
  width: 50%;
  height: 18vh;
  margin-top: 11vh;
  z-index: 1;
}

.user-content {
  position: relative;
  z-index: 10;
  max-height: 18vh;
  height: 100%;
  align-self: center;
  display: flex;
  align-items: center;
  align-content: center;
  padding-left: 2rem;
}
.pic-edit-cont {
  background-color: #353f58;
  position: relative;
  height: 1.4rem;
  width: 1.4rem;
  right: 3rem;
  top: 2rem;
  border-radius: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
}
.pic-edit {
  font-size: 1.2rem;
  color: #ffffff;
  position: relative;
  z-index: 10;
  align-self: center;
  justify-self: center;
}

.greeting{
    color: #2C3D4F;
    font-family: "Open Sans",Roboto,sans-serif;
}
.greeting h2{
    font-size: 1.3rem;
    font-weight: 300;
}
.greeting h1{
    font-size: 1.5rem;
    font-weight: 600;
}

.greeting h4{
    font-size: 1rem;
    font-weight: 400;
}

.User-panel::before {
  left: 0;
  background: linear-gradient(to left, transparent, rgba(255, 255, 255, 1));
}
.User-panel::after {
  right: 0;
  background: linear-gradient(to right, transparent, rgba(255, 255, 255, 1));
}

.profile-panel {
 
  height: 77vh;
  max-width: 100%;
  width: 100%;
  margin-top: 18vh;
  position: fixed;
}
.followers{
    color: #263444;
    font-family: "Open Sans",Roboto,sans-serif;
    margin-right: 3rem;
    z-index: 10;
    display: flex;
   
}
.followers h3{
    font-weight: 500;
    align-self: center;
}

.profile-content {
  max-width: 100%;
  height: fit-content;
  overflow-y: scroll;
  width: 97%;
  padding-bottom: 2rem;

}
